<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Globant’s Challenge Part2</title>
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
    <!--GOOGLE FONTS LOBSTER-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!--MAIN CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <main class="container p-4">
        <h2 class="display-4 text-center title mt-4">Files Upload</h2>
        <div class="row">
            <div class="col-md-4 offset-md-4 my-auto">
                <div class="card">
                    <div class="card-header">
                        <form action="" method="POST" enctype="multipart/form-data">
                            <p></p><input type="file" name="file"></p>
                            <p></p><input type="submit" value="Upload"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>